img {
    max-width: 100%;
    max-height: 100%;
}

.category-line__after::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    margin-top: 12px;
    margin-left: 10px;
    background-color: #2196F3;
}

.link {
    color: #2196F3;
    text-decoration: none
}

.link:hover {
    text-decoration: underline;
}

.fixed-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}